<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dados do Professor</h5>
          <form>
            <div class="mb-3">
              <label class="form-label">Nome do Professor</label>
              <input type="text" readonly class="form-control" [(ngModel)]="professor.pro_nome" name="pro_nome">
            </div>
            <div class="mb-3">
              <label class="form-label">Formação do Professor</label>
              <input type="text"readonly class="form-control" [(ngModel)]="professor.pro_formacao" name="pro_formacao">
            </div>
            <button class="btn btn-secondary mx-3">Cancelar</button>
          </form>


        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <h5 class="card-title mx-3">Turma do Professor: </h5>
        <div class="card-body">

          <div class="mb-3">
            <label class="form-label">Nome Turma</label>
            <input type="text" readonly [(ngModel)]="turma.tu_nome" class="form-control"  name="tu_nome">
          </div>
          <div class="mb-3">
            <label class="form-label">Descrição da Turma</label>
            <input type="text"readonly class="form-control" [(ngModel)]="turma.tu_descricao" name="tu_descricao">
          </div>
          <hr>
          <div class="card">
          <h5 class="card-title my-4"> Escolha uma nova Turma para o professor:</h5>


          <div class="card-body">
          <select  [(ngModel)]="turmaSemProfessorEscolhida" name="turmaSemProfessorEscolhida" (ngModelChange)="escolherTurma()">
              <option *ngFor="let turma of turmasSemProfessor" [ngValue]="turma" >
                {{turma.tu_nome}} - {{turma.tu_descricao}}
              </option>
            </select>
            <button (click)=" atribuirTurma()" class="btn btn-primary my-3">Salvar</button>
          </div>
        </div>
          <hr>
          <div class="card my-3">
            <h5 class="card-title">Deixar Professor sem Turma?</h5>
            <div class="card-body">
            <button  class="btn btn-secondary">Confirmar</button>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

