<div class="card">
  <div class="card-body">
    <h5 class="card-title">Exclusão do Aluno</h5>
    <hr>
    <form>
      <div class="mb-3">
        <label class="form-label">Nome do Aluno</label>
        <input type="text" readonly class="form-control" [(ngModel)]="aluno.al_nome" name="al_nome">
      </div>
      <div class="mb-3">
        <label class="form-label">Nome do responsável pelo aluno</label>
        <input type="text" readonly class="form-control" [(ngModel)]="aluno.al_responsavel" name="al_responsavel">
      </div>
      <div class="mb-3">
        <label class="form-label">Cidade do aluno</label>
        <input type="text" readonly class="form-control" [(ngModel)]="aluno.al_cidade" name="al_cidade">
      </div>
      <button (click)="excluirAluno()" class="btn btn-primary ">Excluir</button>
      <button (click)="cancelarExclusao()" class="btn btn-secondary mx-3">Cancelar</button>
    </form>

  </div>
</div>

